
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

.partnercontainer {
  font-family: Arial, sans-serif;
  color: #333;
  display: grid;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.logo {
  width: 150px;
}

.bannerSection {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
  overflow: hidden;
}

.bannerText h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0 15px;
}

.headerBanner {
  width: 100%;
  height: auto;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px; 
  text-align: center;
  padding: 0 10px;
}

.announcement {
  text-align: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.announcement p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.benefit {
  text-align: center;
  margin: 20px;
  flex: 1;
  min-width: 200px;
}

.icon {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
}

.partnershipdetails {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.bannerContainer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.mcllogo {
  width: 100%;
}

.overlayText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 40px;
  background-color: #d9534f;
}

.ctabutton {
  background-color: white;
  color: #d9534f;
  border: 2px solid #d9534f;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .bannerText {
    top: 50%; 
    font-size: 2rem;
    padding: 0 10px;
  }

  .benefit {
    flex-basis: 45%;
  }

  .bannerContainer {
    text-align: center;
  }

  .overlayText {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .benefits {
    flex-direction: row;
    align-items: center;
  }

  .bannerText {
    top: 50%; 
    font-size: 1rem; 
    padding: 0 10px;
   
  }

  .icon {
    font-size: 30px;
  }

  .announcement p {
    font-size: 14px;
  }
}
